---
layout: default
title: Talks
---

<h2>Talks</h2>

    <div class="talks-container">

        {% for post in site.talks reversed %}

            {% for flyer in site.meetups %}
                {% if flyer.slug == post.meetup %}
                    {% assign meetup = flyer %}
                {% endif %}
            {% endfor %}

            {% if meetup.passed == 1 %}

                <div class="talk">

                    <figure>
                        <img data-email="{{ post.author_email }}" />
                    </figure>

                    <div class="right">
                      <h4>{{ post.title }} - {{post.author}}</h4>

                        <div class="talk-meta">

                            <span class="date">{{ meetup.data}}</span>

                            <span class="meetup">{{ meetup.title }}</span>


                            {% if post.slides %}
                                <a class="slides btn btn-default btn-xs" href="{{post.slides}}" target="_blank">Slides</a>
                            {% endif %}

                            {% if post.demo %}
                                <a class="demo btn btn-default btn-xs" href="{{post.demo}}" target="_blank">Demo</a>
                            {% endif %}

                        </div>

                      {{ post.content }}
                    </div>

                </div>

            {% endif %}

        {% endfor %}

    </div>