main.container{
    padding-bottom:50px!important;
}

section.content{

    margin-top:115px;
    padding-left:20px;
    position: relative;

    .send-talk{
        position: absolute;
        top:30px;
        right: 15px;
    }

    .mapa{
        margin-top:30px;
        margin-bottom:30px;
        width:100%;
        height: 200px;
    }

    span.item{
        font-weight: bold;
    }

    .talk{

        margin-top:20px;
        min-height: 70px;

        .slides{
            background:#e54b3f;
            color:#fff;
            border:none;
        }

        .demo{
            background:#2D2D2D;
            color:#fff;
            border:none;
        }

        .talk-meta{

            margin-bottom:10px;

            .date, .meetup{
                display: inline-block;
                border-right:1px solid #8c8989;
                padding-right:10px;
                margin-right:10px;
            }

        }

        figure{
            float:left;
            width: 64px;
            margin-right:30px;
        }

    }

    .meetup-item{
        h3 a{
            color:#e54b3f;
        }
    }

    .meetup-meta{

            margin-bottom:10px;

            .data, .local{
                display: inline-block;
                border-right:1px solid #8c8989;
                padding-right:10px;
                margin-right:10px;
            }

        }

    .framePhoto{
        width:100%;
    }

    .photos{

        figure{
            margin-top: 20px;
            overflow: hidden;
            height: 150px;
        }

        img{
            width: auto;
            height: 100%;
            margin: 0 auto;
            display: block;
        }
    }

}

/* Icons */
@font-face {
	font-family: 'icons';
		src: url('../fonts/icons.eot');
		src: url('../fonts/icons.eot#iefix') format('embedded-opentype'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.ttf') format('truetype'),
		url('../fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
}
.icon-facebook:before { content: '\e802'; }
.icon-facebook-squared:before { content: '\e800'; }
.icon-twitter:before { content: '\e801'; }
.icon-twitter-1:before { content: '\e804'; }
.icon-facebook-circled:before { content: '\e805'; }
.icon-twitter-circled:before { content: '\e806'; }
.icon-facebook-rect:before { content: '\e803'; }

#sharing {
  padding-top:20px;
  margin-bottom:40px;
}

#sharing a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
	font-size: 14px;
	margin-right: 4px;
	margin-top: 4px;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
  padding:6px 10px;
}

#sharing a:hover {
	/*color: #444;*/
	opacity: 0.8;
  text-decoration: none;
}

#sharing a.facebook {
  background: #4361b3;
}
#sharing a.twitter {
  background: #4fafed;
}

.blogpost {

  a {
    color:#e54b3f;
  }

  h2 {
    font-size:36px;
  }

  .content {
    padding-top:30px;
    font-size:16px;
    line-height: 1.5em;
  }

}

.center-image
{
    margin: 0 auto;
    display: block;
    padding-top:10px;
    padding-bottom:10px;
}


@media (max-width: $screen-xs-max) {

    section.content{
        margin-top:30px;
    }

}
