---
layout: default
title: Parcerias
---

<h2>Parcerias</h2>

  <div class="partnerships-container">

    <h3>Editoras</h3>

    <ul class="partnerships-listing">
        
    {% for post in site.editoras_parceiras %}
      <li>
          <a href="{{post._link}}" target="_blank" class="partner">
              <figure class="clearfix">
                  <img src="{{post.image}}" alt="Manning" width="129" height="127">

                  <figcaption>
                      <h4>{{post.title}}</h4>
                      {{post.content}}
                  </figcaption>
              </figure>
          </a>
      </li>
    {% endfor %}
    </ul>

      <hr>

      <h3>Grupos</h3>

      <ul class="partnerships-listing">
      {% for post in site.grupos_parceiros %}
      <li>
          <a href="{{post._link}}" target="_blank" class="partner">
              <figure class="clearfix">
                  <img src="{{post.image}}" alt="Manning" width="129" height="127">

                  <figcaption>
                      <h4>{{post.title}}</h4>
                      {{post.content}}
                  </figcaption>
              </figure>
          </a>
      </li>
      {% endfor %}
      </ul>

  </div>